@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Epilogue", sans-serif;
  line-height: 1.5;
}
p {
  text-align: center;
  color: white;
  font-family: "Epilogue", sans-serif;
  font-size: medium;
}

.sub-text-p {
  text-align: center;
  font-size: 18px;
  color: #797979;
}

/* Styling the Navbar */
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* z-index: 100; */
}

.logo1 {
  font-size: 3opx;
  color: Black;
  padding-left: 30px;
  text-decoration: none;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.logo2 {
  font-size: 3opx;
  color: Black;
  padding-left: 3px;
  text-decoration: none;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbar a {
  position: relative;
  font-size: 18px;
  color: #797979;
  font-weight: 300;
  text-decoration: none;
  margin-left: 4px;
  margin-right: 40px;
}
.navbar a:hover {
  color: #2400ff;
  font-weight: 600;
}
.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  /* background: #2400ff; */
  background: #fff;
  transition: 0.3s ease;
}
.navbar a:hover:before {
  width: 100%;
}

/* Product page styling */
.page-header-text {
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  font-weight: 500;
}
#navbar-product,
a {
  position: relative;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: #797979;
  padding-right: 10px;
}

#navbar-product a::before {
  content: "";
  position: absolute;
  text-decoration: none;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #797979;
  transition: 0.3s ease;
}
#navbar-product a:hover {
  color: #2400ff;
  font-weight: 600;
}

#hero1 {
  color: #1c1c1c;
  text-align: left;
}
#hero2 {
  color: #2400ff;
}

/* footer styling  */

.footer {
  background-color: #24262b;
  padding: 70px 0;
  bottom: 0;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 400;
  position: relative;
}

/* the hover effect */
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #fff;
  padding-left: 5px;
}

.footer .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0, 10px, 10px, 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.3s ease;
}

.footer .social-links a:hover {
  color: #24262b;
  background-color: #fff;
}

/* responsiveness */
@media (max-width: 767px) {
  .footer-col {
    width: 25%;
    /* padding: 0 15px; */
    /* margin-bottom: 30px; */
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/* Contact Page styling */
.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title {
  display: block;
  font-weight: 300;
  font-size: 10px;
  padding-bottom: 15%;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 16px;
  color: #2d2d2d;
}

.contact-social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0, 10px, 10px, 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.3s ease;
}

.contact-social-links a {
  color: #24262b;
  background-color: #fff;
}

.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #f3f3f3;
  background-color: #f3f3f3;
}

.contact-left textarea {
  height: 140px;
  padding: 15px;
  background-color: #f3f3f3;
}

.contact-inputs:focus {
  border: 2px solid #2f2e36;
}

.contact-inputs::placeholder {
  color: #2d2d2d;
}

.contact-left button {
  display: flex;
  align-items: center;
  padding: 28px 30px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  cursor: pointer;
  background-color: #111;
}
