@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Epilogue", sans-serif;
  line-height: 1.5;
}
p {
  text-align: center;
  color: #111;
  font-family: "Epilogue", sans-serif;
  font-size: medium;
}

.sub-text-p {
  text-align: center;
  font-size: 18px;
  color: #797979;
}

/* Styling the Navbar */
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* z-index: 100; */
}
/* 
.logo1 {
  font-size: 3opx;
  color: Black;
  padding-left: 30px;
  text-decoration: none;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.logo2 {
  font-size: 3opx;
  color: Black;
  padding-left: 3px;
  text-decoration: none;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
} */
.navbar a {
  position: relative;
  font-size: 18px;
  color: #797979;
  font-weight: 300;
  text-decoration: none;
  margin-left: 4px;
  margin-right: 40px;
}
.navbar a:hover {
  color: #2400ff;
  font-weight: 600;
}
.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  /* background: #2400ff; */
  background: #fff;
  transition: 0.3s ease;
}
.navbar a:hover:before {
  width: 100%;
}

/* Product page styling */
.page-header-text {
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  font-weight: 500;
}
#navbar-product,
a {
  position: relative;
  font-size: 16px;
  text-align: center;
  margin-top: 0px;
  text-decoration: none;
  color: #797979;
  padding-right: 10px;
}

#navbar-product a::before {
  content: "";
  position: absolute;
  text-decoration: none;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #797979;
  transition: 0.3s ease;
}
#navbar-product a:hover {
  color: #2400ff;
  font-weight: 600;
}

#hero1 {
  color: #1c1c1c;
  text-align: left;
}
#hero2 {
  color: #2400ff;
}

/* footer styling  */

.footer {
  background-color: #24262b;
  padding: 70px 0;
  bottom: 0;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 400;
  position: relative;
}

/* the hover effect */
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #fff;
  padding-left: 5px;
}

.footer .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0, 10px, 10px, 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.3s ease;
}

.footer .social-links a:hover {
  color: #24262b;
  background-color: #fff;
}

/* responsiveness */
@media (max-width: 767px) {
  .footer-col {
    width: 25%;
    /* padding: 0 15px; */
    /* margin-bottom: 30px; */
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/* Contact Page styling */
.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title {
  display: block;
  font-weight: 300;
  font-size: 10px;
  padding-bottom: 15%;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 16px;
  color: #2d2d2d;
}

.contact-social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0, 10px, 10px, 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.3s ease;
}

.contact-social-links a {
  color: #24262b;
  background-color: #fff;
}

.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #f3f3f3;
  background-color: #f3f3f3;
}

.contact-left textarea {
  height: 140px;
  padding: 15px;
  background-color: #f3f3f3;
}

.contact-inputs:focus {
  border: 2px solid #2f2e36;
}

.contact-inputs::placeholder {
  color: #2d2d2d;
}

.contact-left button {
  display: flex;
  align-items: center;
  padding: 28px 30px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  cursor: pointer;
  background-color: #111;
}

/* Blog styling -------*/
#blog {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

/* .blog-heading span{
  color: red;
}

.blog-heading  */

.blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
}

.blog-box {
  width: 350px;
  background-color: #fff;
  border: 1px solid #ececec;
  margin: 20px;
}

.blog-img {
  width: 100%;
  height: auto;
}
.blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blog-text {
  padding: 18px;
  display: flex;
  flex-direction: column;
}
.blog-text span {
  /* color: blue;
  font-size: 0.9rem; */
  padding-top: 35px;
  padding-bottom: 10px;
  width: 86px;
  height: 14px;
  flex-grow: 0;
  font-family: Epilogue;
  font-size: 12.9px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.05;
  letter-spacing: normal;
  text-align: left;
  color: var(--grey-500);
}

.blog-text .blog-title {
  /* font-size: 1.3rem;
  font-weight: 500;
  color: blue; */
  width: 338px;
  height: 27px;
  flex-grow: 0;
  font-family: Epilogue;
  font-size: 25.9px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.05;
  letter-spacing: normal;
  text-align: left;
  color: rgba(60, 14, 246, 0.9);
}
.blog-text .blog-title ::hover {
  color: red;
  transition: all ease 0.3s;
}

.blog-text p {
  color: #9b9b9b;
  text-align: left;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px;
}
.blog-text a {
  color: #0f0f0f;
  text-align: left;
}

.blog-text a:hover {
  color: #f33c3c;
  transition: all ease 0.3s;
}

@media (max-width: 1250px) {
  .blog-box {
    width: 300px;
  }
}
@media (max-width: 1100px) {
  .blog-box {
    width: 70%;
  }
}
@media (max-width: 550px) {
  .blog-box {
    margin: 20px 10px;
    width: 100%;
    #blog {
      padding: 20px;
    }
  }
}

/* Product page */
.product-slider {
  position: relative;
  height: 100%;
  margin: 10px;
  padding: 10px;
  background-color: rgba(253, 253, 253);
}

.slider-box {
  margin: 20px;
  height: 350px;
  width: 250px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border: 1px solid rgb(245, 244, 244);
}

.slider-box a {
  text-decoration: none;
  text-align: center;
}
#detail-box {
  display: flex;
  align-items: left;
}
.img-box {
  height: 170px;
}
.img-box img {
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
#cancel {
  text-decoration: line-through;
  color: #bbbbbb;
}
/* .time {
  position: absolute;
  top: 0px;
  right: 20px;
  color: #f16007;
} */
.detail {
  display: flex;
  flex-direction: column;
  align-items: left;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 35px;
  color: #111;
}
.price {
  padding-bottom: 10px;
  color: #111;
  /* background-color: #ff555b; */
  line-height: 20px;
}
.cart {
  position: absolute;
  bottom: 0px;
  height: 45px;
  background-color: #111;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cart a {
  color: #fff;
}
.slider-box:hover {
  box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.4);
}
.slider-box:hover .img-box img {
  transform: scale(1.07);
  transition: all ease 0.3s;
}
.cart:hover {
  transform: scale(1.1);
  background-color: blue;
  box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.4);
  transition: all ease 0.1s;
}

#red {
  font-size: 16px;
  font-weight: 400;
  padding-top: 10px;
}
#home-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.row {
  background-color: white;
}
.btn1 {
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: black;
  font-weight: bold;
}

.btn1:hover {
  background: white;
  border: 1px solid;
  color: black;
}
.btn2 {
  display: flex;
  align-items: center;
  padding: 28px 30px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  cursor: pointer;
  background-color: #111;
}

/* Hero section - index */
hero-container {
  height: 600px;
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
}

.img {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: space-between;
}

.hero-text {
  width: 80%;
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.hero-text h1 {
  font-size: 3.3rem;
  margin-bottom: 12px;
  color: #111;
}

.hero-text p {
  font-size: 1.4rem;
  margin-bottom: 12px;
}

img-hero {
  display: flex;
  flex-direction: row-reverse;
}

/* forgotPassword */
.wrapper {
  background-color: #ececec;
  width: 100%;
  height: 100vh;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 500px;
  background-color: #fff;
  padding: 30px;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.title {
  margin-bottom: 30px;
  text-align: center;
}

.title-section {
  color: #38475a;
  font-size: 25px;
  font-weight: 500;
  text-transform: capitalize;
  margin-top: 10px;
}

.para {
  color: #38475a;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.input-group {
  position: relative;
  justify-content: center;
}
.input-group .label-title {
  color: #38475a;
  text-transform: capitalize;
  margin-bottom: 11px;
  font-size: 14px;
  display: block;
  font-weight: 500;
}

.input-group input {
  width: 100%;
  background-color: none;
  color: #38475a;
  height: 50px;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid #eaecf0;
  padding: 9px 18px 9px 52px;
  outline: none;
  /* border-radius: 8px; */
  margin-bottom: 20px;
}

.input-group input::placeholder {
  color: #38475a;
  font-size: 16px;
  font-weight: 400;
}

.input-group .icon {
  position: absolute;
  color: #38475a;
  left: 13px;
  top: calc(50% - 11px);
  text-align: center;
  font-size: 23px;
}

.submit-btn {
  /* width: 100%;
  background-color: #2400ff;
  border: 1px solid transparent;
  font-size: 16px;
  color: #fff;
  padding: 13px 24px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer; */

  display: flex;
  width: 30%;
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  justify-content: center;
  padding: 28px 30px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  cursor: pointer;
  background-color: #111;
}

.submit-btn:hover {
  opacity: 0.95;
}

.about-container1 {
  width: 612px;
  height: 452px;
  margin: 41px 16px 56px 0;
  padding: 58px 28px 154px;
  border-radius: 8px;
  background-color: #141414;
}
.about-img {
  width: 46px;
  height: 46px;
}

.about-text {
  width: 556px;
  height: 160px;
  flex-grow: 0;
  font-family: Epilogue;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.about-container2 {
  width: 612px;
  height: 452px;
  margin: 56px 0 0 16px;
  padding: 58px 28px 34px;
  border-radius: 8px;
  background-color: #141414;
  display: flex;
  justify-content: flex-end;
}

.about-sec {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
